---
layout: page
# The Category layout
---

{% include lang.html %}

{% assign parts = page.title | split: "-" %}
{% if parts.size > 1 %}
  {% assign display_title = parts | join: " / " %}
{% else %}
  {% assign display_title = page.title %}
{% endif %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ display_title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="content ps-0">
    {% for post in page.posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
