---
layout: page
---

{% assign groups = site.posts | group_by_exp: "post", "post.categories[0]" | sort: "name" %}

<div id="categories" class="categories pl-xl-3">
  {% for group0 in groups %}
    {% assign cat0 = group0.name %}
    {% assign sub1_groups = group0.items | group_by_exp: "post", "post.categories[1]" | sort: "name" %}
    {% assign sub1_count = sub1_groups | map: "name" | reject: "" | size %}
    {% assign total_count = group0.items | size %}

    <div class="card categories">
      <div
        class="card-header d-flex justify-content-between hide-border-bottom"
        id="h_{{ cat0 }}"
      >
        <span>
          <i class="far fa-folder fa-fw"></i>
          <a href="{{ site.baseurl }}/categories/{{ cat0 | downcase | url_encode }}/"
            class="ml-1 mr-2">{{ cat0 }}</a>
          {% if sub1_count > 0 %}
            <span class="text-muted small">{{ sub1_count }} categor{% if sub1_count == 1 %}y{% else %}ies{% endif %} , {{ total_count }} post{% if total_count != 1 %}s{% endif %}</span>
          {% else %}
            <span class="text-muted small">{{ total_count }} post{% if total_count != 1 %}s{% endif %}</span>
          {% endif %}
        </span>

        {% if sub1_count > 0 %}
          <a
            href="#l_{{ cat0 }}"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-label="expand-{{ cat0 }}"
            class="ms-auto"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span class="ms-auto">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>

      {% if sub1_count > 0 %}
        <div id="l_{{ cat0 }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for group1 in sub1_groups %}
              {% assign cat1 = group1.name %}
              {% if cat1 == "" %}{% continue %}{% endif %}
              {% assign sub2_groups = group1.items | group_by_exp: "post", "post.categories[2]" | sort: "name" %}
              {% assign sub2_count = sub2_groups | map: "name" | reject: "" | size %}
              {% assign count1 = group1.items | size %}

              <li
                class="list-group-item"
                id="h_{{ cat0 }}_{{ cat1 }}"
              >
                <i class="far fa-folder fa-fw"></i>
                <a href="{{ site.baseurl }}/categories/{{ cat1 | downcase | url_encode }}/"
                  class="ml-1 mr-2">{{ cat1 }}</a>
                {% if sub2_count > 0 %}
                  <span class="text-muted small">{{ sub2_count }} categor{% if sub2_count == 1 %}y{% else %}ies{% endif %} , {{ count1 }} post{% if count1 != 1 %}s{% endif %}</span>
                  <a
                    href="#l_{{ cat0 }}_{{ cat1 }}"
                    data-bs-toggle="collapse"
                    aria-expanded="true"
                    aria-label="expand-{{ cat1 }}"
                    class="ms-auto float-end"
                  >
                    <i class="fas fa-fw fa-angle-down"></i>
                  </a>

                  <div id="l_{{ cat0 }}_{{ cat1 }}" class="collapse show ps-3 mt-1">
                    <ul class="list-group">
                      {% for group2 in sub2_groups %}
                        {% assign cat2 = group2.name %}
                        {% if cat2 == "" %}{% continue %}{% endif %}
                        {% assign count2 = group2.items | size %}
                        <li class="list-group-item">
                          <i class="far fa-folder fa-fw"></i>
                          <a href="{{ site.baseurl }}/categories/{{ cat2 | downcase | url_encode }}/"
                            class="ml-1 mr-2">{{ cat2 }}</a>
                          <span class="text-muted small">{{ count2 }} post{% if count2 != 1 %}s{% endif %}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <span class="text-muted small">{{ count1 }} post{% if count1 != 1 %}s{% endif %}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
